---
import BaseLayout from './BaseLayout.astro';
import Navbar from '@/components/astro/Navbar.astro';
import Footer from '@/components/astro/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex flex-col justify-around min-h-screen">
    <Navbar />
    <main class="flex-1">
      <slot />
    </main>
    <div class="mt-20 lg:mt-28">
      <Footer />
    </div>
  </div>
</BaseLayout>
