/* eslint-disable */
@tailwind base;
@tailwind components;

@font-face {
  src: url('../public/static/SFMono.ttf');
  font-family: 'SF Mono';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.poppins {
  font-family: Poppins, sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #1b3c87;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

a:hover > * {
  color: #003b71aa;
  border-bottom: 1px solid inherit;
}

a.left {
  position: relative;
  @apply pb-2;
}

a.left:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #003b71aa;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

pre > code {
  display: block;
  /* background: #fafafa; */
  border-radius: 5px !important;
  padding: 0.75rem !important;
  white-space: pre-wrap !important;
  font-family: 'SF Mono', monospace !important;
  margin-bottom: 5px;
}

code,
.code {
  font-family: 'SF Mono', monospace;
}

.logo {
  width: 100px;
}

.navbar,
.footer {
  @apply flex;
  @apply sticky;
  @apply w-full;
  @apply overflow-hidden;
  @apply top-0;
  @apply mb-6;
  @apply items-center;
  @apply justify-between;
  @apply flex-wrap;
  @apply py-4;
  @apply text-gray-900;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  backdrop-filter: blur(8px);
}

.button_primary {
  @apply bg-gray-900;
  @apply text-white;
  @apply px-5;
  @apply py-2;
  @apply rounded-md;
  border: 1px solid #231f20;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s ease-in-out;
}
.button_primary:hover {
  @apply bg-black;
  @apply rounded-lg;
}

.button_outlined {
  @apply text-gray-900;
  border: 1px solid #eaeaea;
  font-family: 'Poppins', sans-serif;
  @apply rounded-md;
  @apply px-5;
  @apply py-2;
  transition: border 0.2s ease-in-out;
}
.button_outlined:hover,
.button_outlined:focus,
.button_outlined:active {
  border: 1px solid #231f20;
}

.hover-card {
  transition: all 0.5s ease;
}

.hover-card:hover {
  transform: scale(1.03);
}

.decoration-none:hover,
.decoration-none:focus {
  color: #000;
}

.hero-text-enter {
  opacity: 0;
  margin-top: 50px;
}
.hero-text-enter-active,
.hero-text-exit {
  opacity: 1;
  margin-top: 0;
}
.hero-text-exit-active {
  opacity: 0;
  margin-top: -50px;
}

.casestudy > h1 {
  @apply mt-10;
  @apply mb-2;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    @apply block;
  }

  .footer > ul {
    display: block;
    margin: 20px auto 10px;
  }

  .footer > ul > li {
    @apply mt-2;
  }
  .hover-card:hover {
    transform: none;
  }
}

.content {
  @apply my-10;
}

.content > p > img {
  max-width: 100%;
  @apply block w-full my-5 rounded-lg;
}

.content > p {
  @apply my-5 leading-8;
}

.content > p > strong {
  @apply text-lg font-semibold;
}

.content > h3,
.content > h4,
.content > h2 {
  @apply font-semibold mt-10 mb-5;
}

.content > h3 {
  @apply text-2xl;
}

.content > h4 {
  @apply text-xl;
}

.content > h2 {
  @apply text-3xl;
}

.content > ul,
.content > ol {
  list-style: initial;
  @apply ml-5;
}

.content > ol,
.content > p > ol {
  list-style: decimal;
  @apply mb-6;
}

/* form */
.form-group {
  @apply my-5;
}

.label {
  @apply block tracking-wide text-gray-700 text-sm font-semibold mb-2;
}

.input {
  @apply shadow-sm appearance-none border rounded w-full p-4;
}

.input:active,
.input:focus {
  @apply outline-none border-blue-800 border-2;
}

.submit-button {
  @apply bg-black px-5 py-3 text-white border-black cursor-pointer rounded-md transition-all duration-75 ease-in shadow-sm;
}

.submit-button:hover {
  @apply text-black;
}

.company {
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease;
}

.company:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-wrapper {
    flex-wrap: wrap !important;
  }
}

@tailwind utilities;
