/* eslint-disable */
@tailwind base;
@tailwind components;

@font-face {
  src: url('../public/static/SFMono.ttf');
  font-family: 'SF Mono';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #0076ff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

a:hover > * {
  color: #003b71aa;
  border-bottom: 1px solid inherit;
}

pre > code {
  display: block;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  white-space: pre-wrap;
  font-family: 'SF Mono', monospace;
}

.code {
  font-family: 'SF Mono', monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  width: 100px;
}

.navbar {
  @apply flex sticky w-full overflow-hidden top-0 mb-6 items-center justify-between flex-wrap py-4 text-gray-900;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  backdrop-filter: blur(8px);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.content {
  @apply my-10;
}

.content > p > img {
  max-width: 100%;
  @apply block w-full my-5 rounded-lg;
}

.content > p {
  @apply my-5 leading-8;
}

.content > p > strong {
  @apply text-lg font-semibold;
}

.content > h3,
.content > h4,
.content > h2 {
  @apply font-semibold mt-10 mb-5;
}

.content > h3 {
  @apply text-2xl;
}

.content > h4 {
  @apply text-xl;
}

.content > h2 {
  @apply text-3xl;
}

.content > ul,
.content > ol {
  list-style: initial;
  @apply ml-5;
}

.content > ol {
  list-style: decimal;
  @apply mb-6;
}

@tailwind utilities;
